[sssd]

config_file_version = 2
domains = cluster

[domain/cluster]

ldap_schema = rfc2307bis

id_provider = ldap
auth_provider = ldap
access_provider = ldap
chpass_provider = ldap

cache_credentials = true
entry_cache_timeout = 600

ldap_uri = ldaps://{{ hostvars[groups['bastion'][0]]['ansible_fqdn'] }}

ldap_search_base = dc=local
ldap_network_timeout = 30

ldap_access_order = expire
ldap_access_filter = (&(objectclass=inetOrgPerson))
ldap_account_expire_policy = shadow
enumerate = true
