SlurmctldHost={{ controller_hostname }}
MpiDefault=none
ProctrackType=proctrack/cgroup
ReturnToService=1
SlurmctldPidFile=/var/run/slurmctld.pid
SlurmctldPort=6817
SlurmdPidFile=/var/run/slurmd.pid
SlurmdPort=6818
SlurmdSpoolDir=/var/spool/slurmd
SlurmUser=slurm
{% if pyxis|bool or healthchecks|bool%}
Prolog={{slurm_conf_path}}/prolog.d/*
SchedulerParameters=nohold_on_prolog_fail
{% endif %}
MessageTimeout=20
UnkillableStepTimeout=128
SlurmctldLogFile=/var/log/slurm/slurmctld.log
SlurmdLogFile=/var/log/slurm/slurmd.log
StateSaveLocation={{ slurm_nfs_path }}/spool/slurm
SwitchType=switch/none
TaskPlugin=task/affinity,task/cgroup
PrologFlags=contain
InactiveLimit=0
KillWait=30
MinJobAge=300
SlurmctldTimeout=300
SlurmdTimeout=600
Waittime=0
GresTypes=gpu
SchedulerType=sched/backfill
SelectType=select/cons_tres
SelectTypeParameters=CR_Core
AccountingStorageHost={{ controller_hostname }}
AccountingStorageType=accounting_storage/slurmdbd
AccountingStoreFlags=job_comment
ClusterName=cluster
JobAcctGatherFrequency=30
JobAcctGatherType=jobacct_gather/linux
SlurmctldDebug=info
SlurmdDebug=info
EnforcePartLimits=NO
PropagateResourceLimitsExcept=MEMLOCK
CommunicationParameters=block_null_hash
TopologyPlugin=topology/tree
TopologyParam=SwitchAsNodeRank
TreeWidth=2048
SlurmctldParameters=enable_configless
MaxNodeCount=10000
{% if healthchecks|bool %}
HealthCheckProgram={{slurm_conf_path}}/prolog.d/healthchecks.sh
HealthCheckInterval=300
HealthCheckNodeState=IDLE,CYCLE
{% endif %}
{% if sacct_limits|bool %}
AccountingStorageTRES=gres/gpu
AccountingStorageEnforce=limits,associations,qos,safe
JobCompType=jobcomp/none
TrackWckey=no
{% endif %}

{% for partition in queues %}
{% for instance in partition.instance_types %}
{% if instance.permanent  %}
Nodeset={{instance.name}} Feature={{instance.name}}
{% else %}
Nodename={{instance.hostname_convention}}-[1-{{instance.max_number_nodes | string }}] State=CLOUD Feature={{instance.name}}
{% endif %}
{% endfor %}
{% endfor %}

{% for partition in queues %}
{% if partition.default  %}
{% set nodesList = [] %}
{% for instance in partition.instance_types %}
{% if instance.permanent  %}
{{ nodesList.append(instance.name) }}
{% else %}
{{ nodesList.append(instance.hostname_convention+'-[1-'+(instance.max_number_nodes | string )+']') }}
{% endif %}
{%- endfor %}
PartitionName={{partition.name}} Nodes={{nodesList|join(',')}} Default=YES
{% else %}
{% set nodesList = [] %}
{% for instance in partition.instance_types %}
{% if instance.permanent  %}
{{ nodesList.append(instance.name)}}
{% else %}
{{ nodesList.append(instance.hostname_convention+'-[1-'+(instance.max_number_nodes | string )+']') }}
{% endif %}
{%- endfor %}
PartitionName={{partition.name}} Nodes={{nodesList|join(',')}} Default=NO
{% endif %}
{% endfor %}