### Topology File
{% set size = hostvars[inventory_hostname]['private_subnet'] | ipaddr('size')%}
{% for partition in queues %}
{% for instance in partition.instance_types %}
SwitchName=inactive-{{partition.name}}-{{instance.instance_keyword}} Nodes={{partition.name}}-{{instance.instance_keyword}}-node-[1-{{size}}]
{% endfor %}
{% endfor %}