SwitchName=cluster-1 Nodes=cluster-1-node-[1-20]
SwitchName=cluster-2 Nodes=cluster-2-node-[1-20]
SwitchName=cluster-3 Nodes=cluster-3-node-[1-20]
SwitchName=cluster-4 Nodes=cluster-4-node-[1-20]
SwitchName=cluster-5 Nodes=cluster-5-node-[1-20]
SwitchName=cluster-6 Nodes=cluster-6-node-[1-20]
SwitchName=cluster-7 Nodes=cluster-7-node-[1-20]
SwitchName=cluster-8 Nodes=cluster-8-node-[1-20]
SwitchName=cluster-9 Nodes=cluster-9-node-[1-20]
SwitchName=cluster-10 Nodes=cluster-10-node-[1-20]