{% set first_priv_ip = hostvars[inventory_hostname]['private_subnet'] | ipmath(1) | ansible.netcommon.ipaddr('address') | ansible.netcommon.ipaddr('int')%}
{% set priv_ip = hostvars[inventory_hostname]['ansible_default_ipv4']['address'] | ansible.netcommon.ipaddr('address') | ansible.netcommon.ipaddr('int') %}
{% set ip_offset = ( priv_ip - first_priv_ip + 1)*ansible_mlx|count %}
{% set rdma_address = hostvars[inventory_hostname]['rdma_network'] | ipmath(ip_offset) %}

TYPE="Ethernet"
BOOTPROTO="none"
IPADDR={{ rdma_address }}
NETMASK={{ hostvars[inventory_hostname]['rdma_netmask'] }}
DEFROUTE="no"
PEERDNS="no"
PEERROUTES="no"
IPV4_FAILURE_FATAL="no"
IPV6INIT="no"
IPV6_FAILURE_FATAL="no"
NAME="System {{ item['device'] }}"
UUID="{{ hostvars[inventory_hostname]['ansible_fqdn'] | to_uuid }}"
DEVICE="{{ item['device'] }}"
ONBOOT="yes"
