[Unit]
Description=OCI Webhook Service
Wants=network-online.target
After=network-online.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/ons_webhook.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
