[client]
socket=/var/run/mysqld/mysqld.sock
user=root
password={{ mysql_root_pwd }}

[mysql]
socket=/var/run/mysqld/mysqld.sock
user=root
password={{ mysql_root_pwd }}

[mysqldump]
socket=/var/run/mysqld/mysqld.sock
user=root
password={{ mysql_root_pwd }}
