[mysqld]
symbolic-links=0
default-authentication-plugin=mysql_native_password
innodb_file_per_table=1

datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock

log-error=/var/log/mysqld.log
pid-file=/var/run/mysqld/mysqld.pid

{% if ansible_distribution == 'OracleLinux' %}sql_mode=STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION{% endif %}
#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

