[mgmt]
debug = false
clush_parallel_executions = 10
active_healthchecks = {{ active_healthchecks }}
active_healthchecks_frequency = 24
multi_nodes_healthchecks = {{ active_healthchecks }}
multi_nodes_healthchecks_frequency = 24