{
    "availability_domain": "{{ host_info.availability_domain }}",
    "cluster_name": "{{ host_info.cluster_name }}",
    "compartment_id": "{{ host_info.compartment_id }}",
    "compute_status": "{{ http_server_status }}",
    "controller_name": "{{ host_info.controller_name }}",
    "fss_mount": "{{ host_info.fss_ip }}",
    "gpu_memory_fabric": "{{ host_info.gpu_memory_fabric }}",
    "hpc_island": "{{ host_info.hpc_island }}",
    "image_id": "{{ host_info.image_id }}",
    "instance_type": "{{host_info.instance_type}}",
    "hostname": "{{ host_info.host }}",
    "network_block_id": "{{ host_info.network_block_id }}",
    "memory_cluster_name": "{{ host_info.memory_cluster_name }}",
    "oci_name": "{{ host_info.oci_name }}",
    "ocid": "{{ host_info.ocid }}",
    "rack_id": "{{ host_info.rack_id }}",
    "rail_id": "{{ host_info.rail_id }}",
    "role": "{{ host_info.role }}",
    "serial": "{{ host_info.serial_number }}",
    "shape": "{{ host_info.shape }}",
    "tenancy_id": "{{ host_info.tenancy_id }}"
}