{
    "serial": "{{ host_info.serial_number }}",
    "hostname": "{{ host_info.host }}",
    "cluster_name": "{{ host_info.cluster_name }}",
    "controller_name": "{{ host_info.controller_name }}",
    "ocid": "{{ host_info.ocid }}",
    "oci_name": "{{ host_info.oci_name }}",
    "AD": "{{ host_info.availabilityDomain }}",
    "compartment": "{{ host_info.compartmentId }}",
    "rackID": "{{ host_info.rackID }}",
    "networkBlockId": "{{ host_info.networkBlockId }}",
    "railId": "{{ host_info.railId }}",
    "hpc_island": "{{ host_info.hpc_island }}",
    "fss_mount": "{{ host_info.fss_ip }}",
    "shape": "{{ host_info.shape }}",
    "role": "{{ host_info.role }}",
    "status": "{{ http_server_status }}"
}