
'''
This script is updating the MongoDB about the node status as well as launching ansible on the controller. 
Ansible on the controller is only doing the tasks that cannot be run on the host locally. 
Current roles: 
- Update Slurm topology
- Update Prometheus hosts 
- Fix LDAP (Hopefully can be removed once the problem is fixed)
- ... 

When nodes are created or deleted, an OCI function sends a message to an OCI queue. 
The OCI queue is parsed with the scan_queue function. Nodes are set in Starting or Terminating status. 

Nodes in the DB are checked for config file on port {{http_server_port}}. All the relevant details are pulled. 
If the node is in starting mode and the URL is available, it will be picked up by Ansible for configuration. 
If the node is in terminating state, it will be picked up by Ansible for unconfiguration 
Nodes unreachable for over 6 hours will be removed as well through Ansible. 
Nodes that have been terminated are kept in the DB for 72 hours before being cleaned up. 
TODO: How to warn users that nodes are unreachable and should be checked. 

After running Ansible, all hosts that were selected will be updated to avoid re-running the script. 
'''

import subprocess
import pymongo
from pymongo import MongoClient
import re
import sys
import json
from datetime import datetime, timedelta

import oci

retaining_period=timedelta(hours=72)
unreachable_timeout=timedelta(hours=6)

# Get the current date and time with milliseconds
current_time = datetime.now()
current_time_str = current_time.strftime("%Y-%m-%d %H:%M:%S")

print(f"Started the nodes_update script at {current_time_str}")

# MongoDB Connection Details
MONGO_URI = "mongodb://localhost:27017/"
DATABASE_NAME = "{{db_name}}"
COLLECTION_NAME = "{{collection_name}}"

# Nmap Scan Configuration
HTTP_SERVER_PORT = "{{http_server_port}}"
PRIVATE_SUBNET = "{{private_subnet}}"
PUBLIC_SUBNET = "{{public_subnet}}"

queue_ocid = "{{queue_ocid}}"
region = "{{region}}"
controller_name = "{{controller_hostname}}"

# Connect to MongoDB
client = MongoClient(MONGO_URI)
db = client[DATABASE_NAME]
collection = db[COLLECTION_NAME]

# Initialize Queue Client
signer = oci.auth.signers.InstancePrincipalsSecurityTokenSigner()
cp_client = oci.queue.QueueAdminClient(config={}, signer=signer)
endpoint = cp_client.get_queue(queue_ocid).data.messages_endpoint
queue_client = oci.queue.QueueClient(config={}, signer=signer, service_endpoint=endpoint)

def fetch_content(url):
    try:
        # Use subprocess to call curl
        result = subprocess.Popen(['curl', '-s', url], stdout=subprocess.PIPE, stderr=subprocess.PIPE)
        stdout, stderr = result.communicate()  # Wait for the command to complete
        if result.returncode != 0:
            print(f"Error fetching content from {url}: {stderr.decode('utf-8')}")
            return None
        return stdout.decode('utf-8')  # Return the fetched content as a string
    except Exception as e:
        print(f"Error fetching content from {url}: {e}")
        return None

def scan_queue():
    new_ips_to_add=[]
    new_hosts_to_remove=[]
    while True:
        messages_response = queue_client.get_messages(queue_ocid,limit=20,channel_filter=controller_name)
        if len(messages_response.data.messages) == 0:
            break
        messages = messages_response.data.messages
        for message in messages:
            try:
                content=eval(message.content)
                if content['status'] == "starting":
                    if content['ip_address'] not in new_ips_to_add:
                        new_ips_to_add.append(content['ip_address'])
                elif content['status'] == "terminating":
                    if content['hostname'] not in new_hosts_to_remove:
                        new_hosts_to_remove.append(content['ip_address'])
            except Exception as e:
                print(f"Error evaluating message {message.content}: {e}")
            # Delete the message after processing
            queue_client.delete_message(queue_ocid, message.receipt)
            print("Message deleted:", message.id)
    return new_ips_to_add,new_hosts_to_remove

# Run Ansible
def run_ansible():
    try:
        command = "ansible-playbook /config/playbooks/manage_nodes.yml"
        result = subprocess.run(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, universal_newlines=True)
        last_line=[s for s in result.stdout.split('\n') if s.startswith(controller_name)][-1]
        failure_count=int([s for s in last_line.split(' ') if s.startswith('failed')][-1].split('=')[1])
        return result.stdout,failure_count
    except Exception as e:
        print(f"Error running ansible: {e}")
        sys.exit(1)

# Parse Newly added nodes and insert records in MongoDB
def process_and_store(ip_list):
    node_added=False
    for ip_address in ip_list:
        if collection.find({"ip_address": ip_address}):
            collection.update_one(
                {"ip_address": ip_address},  # Filter
                {"$set": {"startedTime": current_time_str, "status": "starting"}},  # Update
                upsert=True  # Create if it does not exist
            )
            node_added=True
    return node_added

# Parse nodes and update records in MongoDB
def check_nodes_status():
    time_threshold = current_time.utcnow() - unreachable_timeout
    results = collection.find({"status": {"$neq": "terminated"}})
    unreachable_nodes=[]
    for doc in results:
        ip_address=doc["ip_address"]
        hostname=doc["hostname"]
        status=doc["status"]
        url = f"http://{ip_address}:{HTTP_SERVER_PORT}/info"   # Fetch the content from the URL
        content = fetch_content(url)
        if content:
            try:
                json_data["lastTimeReachable"]=current_time_str
                if not 'FirstTimeReachable' in doc:
                    json_data.update({"FirstTimeReachable":current_time_str})
                collection.update_one(
                    {"ip_address": ip_address},  # Query to find the document
                    {
                    "$set": json_data,
                    "$inc": {"update_count": 1},  # Increment update count
                    },
                    upsert=True  # Create if it does not exist
                )
                print(f"Stored content for {url}")
            except json.JSONDecodeError as e:
                print(f"Failed to decode JSON from {url}: {e}")
        else:
            if status != "starting":
                if "lastTimeReachable" in doc: 
                    last_time_reachable = datetime.strptime(doc["lastTimeReachable"], "%Y-%m-%d %H:%M:%S")
                        if last_time_reachable < time_threshold:
                            collection.update_one({"_id": doc["_id"]}, {"$set": {"controller_status": "terminating","status": "unreachable"}})
                            unreachable_nodes.append(hostname)
                else:
                    print("The doc did not conatin a single lastTimeReachable entry")
                    print(doc)
            else:
                print(f"Node with {ip_address} is not ready yet. The node is up but the webserver is not available")
    return unreachable_nodes

def clean_old_terminated_nodes():
    time_threshold = current_time.utcnow() - retaining_period
    results = collection.find({"status": "terminated"})
    for doc in results:
        if "lastTimeReachable" in doc:
            last_time_reachable = datetime.strptime(doc["lastTimeReachable"], "%Y-%m-%d %H:%M:%S")
            if last_time_reachable < time_threshold:
                collection.delete_one({"_id": doc["_id"]})   
                print("This document with has been removed from the DB")
                print(doc)

def update_configuration_status(started_nodes,terminating_host_list,ansible_output):
    results = collection.find({"controller_status": "configuring"})
    for doc in results:
        ip_address=doc["ip_address"]
        if ip_address in started_nodes:
            collection.update_one({"_id": doc["_id"]}, {"$set": {"controller_status": "configured"}})
    
    results = collection.find({"controller_status": "terminating"})
    for doc in results:
        hostname=doc["hostname"]
        if hostname in terminating_host_list:
            collection.update_one({"_id": doc["_id"]}, {"$set": {"controller_status": "terminated"}})

def terminate_nodes(terminating_host_list):    
    results = collection.find()
    count=0
    for doc in results:
        hostname=doc["hostname"]
        if hostname in terminating_host_list:
            collection.update_one({"_id": doc["_id"]}, {"$set": {"status": "terminated","terminated":current_time_str}})
            count+=1
    return count
# Main function
if __name__ == "__main__":

    starting_ip_list,terminating_host_list = scan_queue()
    print(starting_ip_list,"starting_ip_list")
    print(terminating_host_list,"terminating_host_list")
    starting_nodes = process_and_store(starting_ip_list)
    unreachable_nodes = check_nodes_status()
    terminated_nodes_count=terminate_nodes(terminating_host_list+unreachable_nodes)
    clean_old_terminated_nodes()

    print("Scan completed and data inserted/updated in MongoDB.")
    if terminated_nodes_count or len(started_nodes):
        print("Adding/Removing nodes in Ansible")
        ansible_output,failure_count=run_ansible()
        if failure_count > 0: 
            print(ansible_output)
        else: 
            print("Ansible finished successfully")
            update_configuration_status(started_nodes,terminating_host_list,ansible_output)

print(f"Finished the nodes_update script that started at {current_time_str}")