import subprocess
import pymongo
from pymongo import MongoClient
import re
import sys
import json
from datetime import datetime, timedelta
import pprint


import oci


# Get the current date and time with milliseconds
current_time = datetime.now()
current_time_str = current_time.strftime("%Y-%m-%d %H:%M:%S")

# MongoDB Connection Details
MONGO_URI = "mongodb://localhost:27017/"
DATABASE_NAME = "{{db_name}}"
COLLECTION_NAME = "{{collection_name}}"

# Nmap Scan Configuration
HTTP_SERVER_PORT = "{{http_server_port}}"
PRIVATE_SUBNET = "{{private_subnet}}"
PUBLIC_SUBNET = "{{public_subnet}}"

queue_ocid = "{{queue_ocid}}"
region = "{{region}}"
controller_name = "{{controller_hostname}}"

# Connect to MongoDB
client = MongoClient(MONGO_URI)
db = client[DATABASE_NAME]
collection = db[COLLECTION_NAME]

# Initialize Queue Client
signer = oci.auth.signers.InstancePrincipalsSecurityTokenSigner()
cp_client = oci.queue.QueueAdminClient(config={}, signer=signer)
endpoint = cp_client.get_queue(queue_ocid).data.messages_endpoint
queue_client = oci.queue.QueueClient(config={}, signer=signer, service_endpoint=endpoint)

def fetch_content(url):
    try:
        # Use subprocess to call curl
        result = subprocess.Popen(['curl', '-s', url], stdout=subprocess.PIPE, stderr=subprocess.PIPE)
        stdout, stderr = result.communicate()  # Wait for the command to complete
        if result.returncode != 0:
            print(f"Error fetching content from {url}: {stderr.decode('utf-8')}")
            return None
        return stdout.decode('utf-8')  # Return the fetched content as a string
    except Exception as e:
        print(f"Error fetching content from {url}: {e}")
        return None

def scan_network():
    try:
        command_private = f"nmap -T5 -p {HTTP_SERVER_PORT} --open -oG - {PRIVATE_SUBNET}"
        command_public = f"nmap -T5 -p {HTTP_SERVER_PORT} --open -oG - {PUBLIC_SUBNET}"
        result_private = subprocess.run(command_private, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, universal_newlines=True)
        result_public = subprocess.run(command_public, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, universal_newlines=True)

        pattern = re.compile(r"Host:\s+(\d+\.\d+\.\d+\.\d+)\s+\(.*\)\s+Ports:\s+{}/open/tcp".format(HTTP_SERVER_PORT))
        scan_output=result_private.stdout + result_public.stdout
        for line in scan_output.splitlines():
            match = pattern.search(line)
            if match:
                ip_address = match.group(1)
                print("ip_address found in line: "+ip_address)
                if not collection.find_one({"ip_address": ip_address}):
                    message = oci.queue.models.PutMessagesDetailsEntry(content="{\"ip_address\": \""+ip_address+"\", \"status\": \"starting\"}")
                    messages_details = oci.queue.models.PutMessagesDetails(messages=[message])
                    response=queue_client.put_messages(queue_ocid, messages_details)
                    messages_response = queue_client.get_messages(queue_ocid,limit=20)
                else:
                    print(f"Entry exists in the DB: {ip_address}")
    except Exception as e:
        print(f"Error running Nmap: {e}")
        sys.exit(1)

def scan_queue():
    new_ips=[]
    while True:
        messages_response = queue_client.get_messages(queue_ocid,limit=20)
        if len(messages_response.data.messages) == 0:
            break
        messages = messages_response.data.messages
        for message in messages:
            try:
                content=eval(message.content)
                if content['status'] == "starting" and content['ip_address'] not in new_ips:
                    new_ips.append(content['ip_address'])
            except Exception as e:
                print(f"Error evaluating message {message.content}: {e}")
            # Delete the message after processing
            queue_client.delete_message(queue_ocid, message.receipt)
            print("Message deleted:", message.id)
    return(new_ips)

# Run Ansible
def run_ansible():
    try:
        command = "ansible-playbook /config/playbooks/manage_nodes.yml"
        result = subprocess.run(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, universal_newlines=True)
        return result.stdout
    except Exception as e:
        print(f"Error running ansible: {e}")
        sys.exit(1)

# Parse Newly added nodes and insert records in MongoDB
def process_and_store(ip_list):
    node_added=False
    for ip_address in ip_list:
        if collection.find({"ip_address": ip_address}):
            collection.update_one(
                {"ip_address": ip_address},  # Filter
                {"$set": {"startedTime": current_time_str, "status": "Starting"}},  # Update
                upsert=True  # Create if it does not exist
            )
            node_added=True
    return node_added

# Parse starting nodes and update records in MongoDB
def process_started_nodes():
    node_added=False
    results = collection.find({"status": "Starting"})
    for doc in results:
        ip_address=doc['ip_address']
        url = f"http://{ip_address}:{HTTP_SERVER_PORT}/info"
                    # Fetch the content from the URL
        content = fetch_content(url)
        if content:
            try:
                # Convert JSON string to a dictionary
                json_data = json.loads(content)
                if json_data["controller_name"]==controller_name:
                    json_data["lastTimeReachable"]=current_time_str

                    # Upsert the dictionary into MongoDB
                    collection.update_one(
                        {"ip_address": ip_address},  # Query to find the document
                        {
                        "$set": json_data,
                        "$inc": {"update_count": 1},  # Increment update count
                        "$setOnInsert": {"FirstTimeReachable":current_time_str}
                        },
                        upsert=True  # Create if it does not exist
                    )
                    print(f"Stored content for {url}")
                    node_added=True
                else:
                    controller_name_found=json_data["controller_name"]
                    print(f"The clustername did not match, {controller_name} wanted but got {controller_name_found} ")

            except json.JSONDecodeError as e:
                print(f"Failed to decode JSON from {url}: {e}")
        else:
            print("Node is not ready")
    return node_added

def get_unreachable_nodes():
    time_threshold = current_time.utcnow() - timedelta(hours=6)
    results = collection.find()
    for doc in results:
        last_time_reachable = datetime.strptime(doc["lastTimeReachable"], "%Y-%m-%d %H:%M:%S")
        if last_time_reachable < time_threshold:
            if doc["status"]=="to_terminate":
                collection.update_one({"_id": doc["_id"]}, {"$set": {"status": "terminated"}})
            else:
                collection.update_one({"_id": doc["_id"]}, {"$set": {"status": "to_terminate","terminated":current_time_str}})
    return results

# Main function
if __name__ == "__main__":
    scan_network()
    starting_ip_list = scan_queue()
    starting_nodes = process_and_store(starting_ip_list)
    started_nodes = process_started_nodes()

    print("Scan completed and data inserted/updated in MongoDB.")
    if len(list(get_unreachable_nodes())) or started_nodes:
        print("Adding/Removing nodes")
        ansible_output=run_ansible()
        print(ansible_output)
        print("Ansible run completed")