---
- name: Add Grafana GPG key
  become: true
  apt_key:
    url: https://packages.grafana.com/gpg.key
    state: present
    keyring: /etc/apt/trusted.gpg.d/grafana-archive-keyring.gpg

- name: Add Grafana repository
  become: true
  apt_repository:
    repo: 'deb https://packages.grafana.com/oss/deb stable main'
    state: present
    filename: 'grafana'

- name: Update apt cache
  become: true
  apt:
    update_cache: yes

- name: Install Grafana package
  become: true
  apt:
    name: grafana
    state: present

- name: Install Python dependencies
  pip:
    name:
      - Flask
      - oci
      - waitress
    extra_args: --ignore-installed
  become: true

- name: Copy webhook script to server
  become: true
  template:
    src: templates/ons_webhook.py.j2
    dest: /usr/local/bin/ons_webhook.py
    mode: '0755'
    remote_src: true

- name: Copy message template to server
  become: true
  copy:
    src: files/raw_message_template.txt
    dest: /etc/raw_message_template.txt
    mode: '0755'

- name: Render systemd service for webhook
  become: true
  template:
    src: ons-webhook.service.j2
    dest: /etc/systemd/system/ons-webhook.service
    force: yes
    backup: yes
    mode: '0644'
    remote_src: true

- name: Start and enable webhook service
  become: true
  systemd:
    name: ons-webhook.service
    state: started
    enabled: yes
    daemon_reload: yes
  when: ons_topic_ocid != ""

- name: Start and enable Grafana service
  become: true
  service:
    name: grafana-server
    state: restarted
    enabled: yes

- name: Ensure Grafana key directory exists
  file:
    path: "/etc/opt/oci-hpc/passwords/grafana"
    state: directory
  delegate_to: localhost

- name: Check Grafana API key list
  uri:
    url: "{{ grafana_api_url }}/api/auth/keys"
    method: GET
    user: "{{ grafana_security.admin_user }}"
    password: "{{ grafana_security.admin_password }}"
    force_basic_auth: true
    return_content: true
  no_log: false
  register: result
  until: result is not failed
  retries: 5
  delay: 5

- name: Create Prometheus datasource in Grafana
  grafana_datasource:
    name: "Prometheus"
    grafana_url: "{{ grafana_api_url }}"
    grafana_user: "{{ grafana_security.admin_user }}"
    grafana_password: "{{ grafana_security.admin_password }}"
    ds_type: "prometheus"
    ds_url: "http://localhost:9090"
  ignore_errors: true
  register: output

- name: Copy alert rules to grafana provisioning
  become: true
  copy:
    src: files/alert-rules.yaml
    dest: /etc/grafana/provisioning/alerting/alert-rules.yaml
    mode: '0777'

- name: Copy delete rules to grafana provisioning
  become: true
  copy:
    src: files/delete-rules.yaml
    dest: /etc/grafana/provisioning/alerting/delete-rules.yaml
    mode: '0777'

- name: Replace all occurrences of a specific string in files
  become: true
  ansible.builtin.replace:
    path: /etc/grafana/provisioning/alerting/alert-rules.yaml
    regexp: "DATASOURCE_UID"
    replace: "{{ output.datasource.uid }}"

- name: Restart grafana
  become: true
  ansible.builtin.service:
    name: grafana-server
    state: restarted
