---
  queues:
    - name: ${queue}
      default: true
      instance_types: 
        - name: default
          default: true
          shape: ${shape}
          change_hostname: ${change_hostname}
          hostname_convention: ${hostname_convention} # Will add -INDEX with the index of the IP in the subnet
          permanent: true
          rdma_enabled: ${rdma_enabled}
          stand_alone: ${stand_alone}
          max_number_nodes: 1000
          region: ${region}
          ad: ${ad}
          private_subnet: ${private_subnet}
          private_subnet_id: ${private_subnet_id}
          image: ${image}
          targetCompartment: ${targetCompartment}
          boot_volume_size: ${boot_volume_size}
          use_marketplace_image: ${use_marketplace_image}
          instance_pool_ocpus: ${instance_pool_ocpus}
          instance_pool_memory: ${instance_pool_memory}
          instance_pool_custom_memory: ${instance_pool_custom_memory}
          marketplace_listing: ${marketplace_listing}
          hyperthreading: ${hyperthreading}
        - name: default2
          default: false
          shape: ${shape}
          change_hostname: ${change_hostname}
          hostname_convention: ${hostname_convention} # Will add -INDEX with the index of the IP in the subnet
          permanent: true
          rdma_enabled: ${rdma_enabled}
          stand_alone: ${stand_alone}
          max_number_nodes: 1000
          region: ${region}
          ad: ${ad}
          private_subnet: ${private_subnet}
          private_subnet_id: ${private_subnet_id}
          image: ${image}
          targetCompartment: ${targetCompartment}
          boot_volume_size: ${boot_volume_size}
          use_marketplace_image: ${use_marketplace_image}
          instance_pool_ocpus: ${instance_pool_ocpus}
          instance_pool_memory: ${instance_pool_memory}
          instance_pool_custom_memory: ${instance_pool_custom_memory}
          marketplace_listing: ${marketplace_listing}
          hyperthreading: ${hyperthreading}
    - name: on-demand
      default: false
      instance_types: 
        - name: od1
          default: true
          shape: ${shape}
          change_hostname: false
          hostname_convention: ondemand # Will add -INDEX with the index of the IP in the subnet
          permanent: false
          rdma_enabled: ${rdma_enabled}
          stand_alone: true
          max_number_nodes: 1000
          region: ${region}
          ad: ${ad}
          private_subnet: ${private_subnet}
          private_subnet_id: ${private_subnet_id}
          image: ${image}
          targetCompartment: ${targetCompartment}
          boot_volume_size: ${boot_volume_size}
          use_marketplace_image: ${use_marketplace_image}
          instance_pool_ocpus: ${instance_pool_ocpus}
          instance_pool_memory: ${instance_pool_memory}
          instance_pool_custom_memory: ${instance_pool_custom_memory}
          marketplace_listing: ${marketplace_listing}
          hyperthreading: ${hyperthreading}
        - name: od2
          default: false
          shape: ${shape}
          change_hostname: false
          hostname_convention: ondemand2 # Will add -INDEX with the index of the IP in the subnet
          permanent: false
          rdma_enabled: ${rdma_enabled}
          stand_alone: true
          max_number_nodes: 1000
          region: ${region}
          ad: ${ad}
          private_subnet: ${private_subnet}
          private_subnet_id: ${private_subnet_id}
          image: ${image}
          targetCompartment: ${targetCompartment}
          boot_volume_size: ${boot_volume_size}
          use_marketplace_image: ${use_marketplace_image}
          instance_pool_ocpus: ${instance_pool_ocpus}
          instance_pool_memory: ${instance_pool_memory}
          instance_pool_custom_memory: ${instance_pool_custom_memory}
          marketplace_listing: ${marketplace_listing}
          hyperthreading: ${hyperthreading}