{% for item in groups['compute'] %}
{% set short_name = hostvars[item]['ansible_fqdn'].split('.') %}
{% if autoscaling | bool %}
{{ hostvars[item]['ansible_host'] }} {{cluster_name}}-node-{{ loop.index }} {{cluster_name}}-node-{{ loop.index }}.local.vcn
{{ hostvars[inventory_hostname]['rdma_network'] | ipmath(loop.index) }} {{ cluster_name }}-node-{{ loop.index }}-rdma {{cluster_name}}-node-{{ loop.index }}-rdma.local.rdma
{% else %}
{{ hostvars[item]['ansible_host'] }}  {{ hostvars[item]['ansible_fqdn'] }} {{ short_name[0] }} hpc-node-{{ loop.index }} hpc-node-{{ loop.index }}.local.vcn hpc-cluster-node-{{ loop.index }} hpc-cluster-node-{{ loop.index }}.local.vcn
{{ hostvars[inventory_hostname]['rdma_network'] | ipmath(loop.index) }} hpc-node-{{ loop.index }}-rdma hpc-cluster-node-{{ loop.index }}-rdma hpc-cluster-node-{{ loop.index }}-rdma.local.rdma hpc-node-{{ loop.index }}-rdma.local.rdma
{% endif %}
{% endfor %}

{% if not autoscaling | bool %}
{% for item in groups['nfs'] %}
{{ hostvars[item]['ansible_host'] }} nfs-server
{% endfor %}
{% endif %}