#
## HPC limits increased per recommendations in:
##
## https://windows.epfl.ch/info/linux.pdf
## http://openhpc.community/wp-content/uploads/Install_guide-CentOS7.1-1.0.pdf
##
## Also increased max number of open files
##
*               hard    memlock         unlimited
*               soft    memlock         unlimited
####
#### these numbers yield very jittery results -- more testing is needed before enabling them
####
####*               hard    nofile          16384
####*               soft    nofile          16384
####*               hard    stack           1048576
####*               soft    stack           1048576
####

{% if shape == "BM.GPU.B4.8" or shape == "BM.GPU4.8"  or shape == "BM.GPU.A100-v2.8" or shape == "BM.GPU.H100.8" or shape == "BM.GPU.H200.8" or shape == "BM.GPU.B200.8" or shape == "BM.GPU.MI300X.8" or shape == "BM.GPU.L40S.4" or shape == "BM.GPU.L40S-NC.4"%}
*               soft nproc 40960
*               hard nproc 40960
*               soft nofile 20480
*               hard nofile 20480
{% else %}
#
{% endif %}
