[Unit]
Description=Slurm Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ slurm_user }}
Group={{ slurm_group }}
Type=simple

# Run exporter from virtual environment
ExecStart={{ python_executable }} /usr/local/bin/slurm-exporter.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target