# Run executable as long-running input plugin
[[inputs.execd]]
  alias = "streaming"
  command = ["{{venv_path}}/bin/python3", "/usr/local/bin/{{ telegraf_streaming_input }}"]
  buffer_size = "2MiB"
  precision = "1ns"

[[inputs.execd]]
  alias = "monitoring"
  command = ["{{venv_path}}/bin/python3", "/usr/local/bin/{{ telegraf_monitoring_input }}"]
  buffer_size = "2MiB"
  precision = "1ns"