#!/usr/bin/env python3

import hashlib
import json
import logging
import os
import re
import signal
import sys
import time
import traceback
import uuid

from base64 import b64decode
from pathlib import Path
from threading import Thread, Lock, Event
from urllib.request import Request, urlopen
from cachetools import TTLCache, cached

from influx_line_protocol import Metric

os.environ["OCI_PYTHON_SDK_NO_SERVICE_IMPORTS"] = "1"
from oci.streaming import StreamClient, StreamAdminClient
from oci.streaming.models import CreateGroupCursorDetails, UpdateGroupDetails
from oci.exceptions import ServiceError
from oci.retry import DEFAULT_RETRY_STRATEGY

OCI_CONFIG_PATH = os.environ.get("OCI_CONFIG_PATH", "")
OCI_PROFILE = os.environ.get("OCI_PROFILE", "DEFAULT")
GROUP_NAME = os.environ.get("GROUP_NAME", "telegraf")
MESSAGES_ENDPOINT = os.environ.get("MESSAGES_ENDPOINT", None)
STREAM_OCID = os.environ.get("STREAM_OCID", "{{ metrics_stream_ocid }}")
OCI_REGION = os.environ.get("OCI_REGION", None)

STREAM_READ_INTERVAL = int(os.environ.get("STREAM_READ_INTERVAL", 0.5))

logger = logging.getLogger(__name__)

metric_timestamp_cache = TTLCache(maxsize=10240, ttl=60)
metric_cache_lock = Lock()

class TelegrafFormatter(logging.Formatter):
    def __init__(self, **kwargs):
        super().__init__(**kwargs)

    def formatMessage(self, record):
        if record.levelno == logging.INFO:
            return f"I: {super().formatMessage(record)}"
        elif record.levelno == logging.ERROR:
            return f"E: {super().formatMessage(record)}"
        elif record.levelno == logging.WARNING:
            return f"W: {super().formatMessage(record)}"
        elif record.levelno == logging.DEBUG:
            return f"D: {super().formatMessage(record)}"
        else:
            return super().formatMessage(record)

class Consumer:

    def __init__(self, config, signer):
        self.config = config
        self.signer = signer
        self._stop_event = Event()
        self.stream_client = StreamClient(config, signer=signer, service_endpoint=MESSAGES_ENDPOINT)
        self.instance_name = "instance-" + uuid.uuid4().hex
        self.cursor = self.__get_cursor__(cursor_type=CreateGroupCursorDetails.TYPE_LATEST)

    def stop(self):
        self._stop_event.set()

    def get_messages(self):
        messages = []
        if self.stream_client and self.cursor:
            # Read the messages from the stream
            get_response = None
            try:
                get_response = self.stream_client.get_messages(STREAM_OCID, self.cursor)
            except ServiceError as err:
                if err.status == 400:
                    logger.debug("The cursor has expired, will create a new one.")
                    self.stream_client.update_group(STREAM_OCID,
                                                    GROUP_NAME,
                                                    UpdateGroupDetails(type=CreateGroupCursorDetails.TYPE_LATEST))
                    self.cursor = self.__get_cursor__()
                else:
                    logger.error(f"Request to get message from stream failed with status: {err.status}\nMessage: {err.message}")
            if not get_response or not get_response.data:
                return messages
            for message in get_response.data:
                if message.key is None:
                    key = "Null"
                else:
                    key = b64decode(message.key.encode()).decode()
                value = b64decode(message.value.encode()).decode()
                messages.append({"key": key, "value": value})
            # use the next-cursor for iteration
            self.cursor = get_response.headers["opc-next-cursor"]
            return messages            

    def __get_cursor__(self, cursor_type=CreateGroupCursorDetails.TYPE_LATEST):
        if self.stream_client and self.instance_name:
            logger.info("Creating a cursor for group {}, instance {} of type {}".format(GROUP_NAME,
                                                                                        self.instance_name,
                                                                                        str(cursor_type)))
            # The cursor will point to the beginning of the stream (to read the oldest messages first)
            cursor_details = CreateGroupCursorDetails(group_name=GROUP_NAME,
                                                                           instance_name=self.instance_name,
                                                                           type=cursor_type,
                                                                           commit_on_get=True)
            response = self.stream_client.create_group_cursor(STREAM_OCID, cursor_details)
            return response.data.value

    def run(self, interval=1):
        """Main consumer loop that reads messages from OCI Streaming and outputs InfluxDB line protocol"""
        logger.info(f"{self.instance_name} thread started to read from OCI streaming.")
        while not self._stop_event.is_set():
            try:
                messages = self.get_messages()
                for message in messages:
                    line_protocol = to_influxdb_line_protocol(message)
                    if line_protocol:
                        logger.debug(line_protocol)
                        print(line_protocol, flush=True)
            except Exception as e:
                logger.error(f"Error in consumer loop: {traceback.format_exc()}")
            
            time.sleep(interval)

def get_region():
    """Fetches the OCI region from instance metadata"""
    try:
        req = Request('http://169.254.169.254/opc/v2/instance/')
        req.add_header('Authorization', 'Bearer Oracle')
        content = urlopen(req).read()

        instance_metadata = json.loads(content.decode('utf-8'))
        return instance_metadata['canonicalRegionName']
    except Exception as e:
        logger.error(f"Failed to get region: {traceback.format_exc()}")
        return None


def to_influxdb_line_protocol(message):
    """Converts OCI metric message to InfluxDB line protocol format"""
    try:
        metric_json = json.loads(message["value"])

        # Validate required fields
        if 'datapoints' not in metric_json or 'namespace' not in metric_json or 'name' not in metric_json:
            logger.warning(f"Invalid metric format: missing required fields in {message['key']}")
            return None

        namespace = metric_json["namespace"]
        metric_name = f'{namespace}:{metric_json["name"]}'

        results = []
        pickeled_dimensions = json.dumps(metric_json.get("dimensions", {}))

        for entry in metric_json['datapoints']:
            if 'timestamp' not in entry or 'value' not in entry:
                continue
            
            timestamp = int(entry["timestamp"])

            influx_metric = Metric(metric_name)

            # Create a hashed for the metric timestamp
            hashed_key = hashlib.md5(f"{metric_name}:{pickeled_dimensions}:{timestamp}".encode('utf-8')).hexdigest()

            with metric_cache_lock:
                if hashed_key not in metric_timestamp_cache:
                    metric_timestamp_cache[hashed_key] = (1, entry["value"])
                else:
                    old_increment, old_value = metric_timestamp_cache[hashed_key]
                    if old_value != entry["value"]:
                        logger.debug(f"Duplicate timestamp {timestamp} for metric {metric_name} with different values: {old_value} and {entry['value']} | {metric_json}")
                    metric_timestamp_cache.update({hashed_key: (old_increment + 1, entry["value"])})
                    timestamp += old_increment*100
            
            # convert ms to ns
            influx_metric.with_timestamp(int(entry["timestamp"])*1_000_000)

            influx_metric.add_tag("namespace", namespace)
            
            # Handle dimensions safely
            if "dimensions" in metric_json:
                for key, value in metric_json["dimensions"].items():
                    influx_metric.add_tag(key, str(value))

            influx_metric.add_value("count", entry["value"])
            results.append(str(influx_metric))

        return "\n".join(results) if results else None

    except Exception as e:
        logger.error(f"Failed to convert to InfluxDB line protocol: {traceback.format_exc()}")
        return None
        

def handle_sighup(signum, frame):
    """Handles SIGHUP signal for graceful shutdown"""
    logger.info("Received SIGHUP, exiting...")
    sys.exit(0)

def cache_status():
    while True:
        logger.info(f"Metric deduplication ttl_cache utilization: {metric_timestamp_cache.currsize}/{metric_timestamp_cache.maxsize}")
        time.sleep(300)

if __name__ == "__main__":
    # Setup logging
    logger.setLevel(logging.INFO)
    handler = logging.StreamHandler(sys.stderr)
    formatter = TelegrafFormatter(fmt='%(asctime)s - %(name)s - %(threadName)s - %(message)s', datefmt='%Y-%m-%dT%H:%M:%S')
    handler.setFormatter(formatter)
    logger.addHandler(handler)

    signal.signal(signal.SIGHUP, handle_sighup)

    if not OCI_REGION:
        OCI_REGION = get_region()
        if not OCI_REGION:
            logger.error("Could not determine OCI region")
            sys.exit(1)
    logger.info("Using OCI region: {}".format(OCI_REGION))

    auth = False
    try:
        from oci.config import from_file
        if OCI_CONFIG_PATH:
            logger.info(f"OCI CONFIG PATH: {OCI_CONFIG_PATH}")
            config = from_file(file_location=OCI_CONFIG_PATH, profile_name="DEFAULT")
        else:
            config = from_file(profile_name="DEFAULT")

        from oci import Signer
        signer = Signer.from_config(config)
        auth = True
    except Exception as e:
        logger.error(f'Failed to load profile and signer from the OCI config file: {e}')

    if not auth:
        logger.info('Attempting to use instance_principal...')
        try:
            from oci.auth.signers import InstancePrincipalsSecurityTokenSigner
            config = {}
            signer = InstancePrincipalsSecurityTokenSigner()
        except Exception as e:
            logger.error(f"Failed to load instance principal signer. No supported signer found: {traceback.format_exc()}")
            sys.exit(1)
    
    # Get the messages endpoint for the stream
    # If it's not set, we'll try to get it from the Stream Admin Client
    # If that fails, we'll use a default endpoint
    partitions = 1

    logger.info(f'Getting stream details: {STREAM_OCID}')

    streaming_client = StreamAdminClient(config=config, signer=signer, retry_strategy=DEFAULT_RETRY_STRATEGY)
    get_stream_response = streaming_client.get_stream(
        stream_id=STREAM_OCID,
    )
    
    if get_stream_response.status == 200:
        if not MESSAGES_ENDPOINT:
            MESSAGES_ENDPOINT = get_stream_response.data.messages_endpoint
        else:
            MESSAGES_ENDPOINT = f"https://cell-1.streaming.{OCI_REGION}.oci.oraclecloud.com"
        partitions = get_stream_response.data.partitions
    else:
        logger.error("Failed to get stream {STREAM_OCID} details.")
        sys.exit(1)
    
    threads = {}
    consumers = {}
    for i in range(partitions):
        consumers[i] = Consumer(config, signer)
        threads[i] = Thread(target=consumers[i].run, args=(STREAM_READ_INTERVAL,))
        threads[i].start()
    
    # Keep main thread alive
    try:
        threads['stats'] = Thread(target=cache_status, daemon=True)
        threads['stats'].start()
        for i in range(partitions):
            threads[i].join()
        
    except KeyboardInterrupt:
        logger.info("Interrupted by user, exiting...") 
        for consumer in consumers:
            consumer.stop()

        for i in range(partitions):
            threads[i].join(timeout=5)
            if threads[i].is_alive():
                logger.warning(f"Thread {i} did not stop gracefully")
        
        logger.info("Shutdown complete")