[Unit]
Description=OCI File Storage Service Metrics Exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ cluster_admin_user }}
Group={{ cluster_admin_user }}
Type=simple
ExecStart=/usr/bin/env python3 /usr/local/bin/oci-fss-metrics-exporter.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
