[Unit]
Description=Python Node Updater

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/config/venv/{{ansible_distribution}}_{{ansible_distribution_version}}_{{ansible_architecture}}/bin/python3 /opt/oci-hpc/bin/queue_read.py 
StandardOutput=append:/opt/oci-hpc/logs/queue_read.log
StandardError=append:/opt/oci-hpc/logs/queue_read.log
TimeoutStartSec=300