[Unit]
Requires=munge.service

[Service]
Restart=always
{% if ansible_os_family == 'RedHat' %}
ExecStart=
ExecStart={{slurm_exec}}/sbin/sackd --systemd --conf-server {{ hostvars[groups['controller'][0]]['ansible_fqdn'].split('.')[0] }}{% if (groups['slurm_backup']| length ) > 0 %},{{ hostvars[groups['slurm_backup'][0]]['ansible_fqdn'].split('.')[0] }}{% endif %} -D $SACKD_OPTIONS
{% endif %} 