[Unit]
Requires=munge.service

[Service]
Restart=always
ExecStart=
ExecStart={{slurm_exec}}/sbin/sackd --systemd --conf-server {{ controller_hostname }}{% if (groups['slurm_backup']| length ) > 0 %},{{ slurm_backup_hostname }}{% endif %} $SACKD_OPTIONS