---
- name: Make sure python OpenSSL and parallel ssh is installed
  vars: 
    package_name: 
      - pyOpenSSL
      - python2-cryptography
      - pssh
      - pdsh
      - python3-pip
    package_state: latest
  include_role: 
    name: safe_yum

- name: Upgrade Pip3
  become: true
  pip:
    name: [pip]
    state: latest
    executable: pip3
  ignore_errors: yes
