---
- name: Enable ol7_developer_EPEL repo
  shell: yum-config-manager --enable ol7_developer_EPEL
    
- name: Make sure python OpenSSL and parallel ssh is installed
  vars: 
    package_name:
      - pyOpenSSL
      - python2-cryptography
      - python3-oci-cli
      - pssh
      - pdsh
      - python3-pip
    package_state: latest
    package_repo: "ol7_developer_EPEL"
  include_role: 
    name: safe_yum
  
- name: Upgrade Pip3
  become: true
  pip:
    name: [pip]
    state: latest
    executable: pip3
  ignore_errors: yes
  
- name: install oci-cli latest version
  become: true
  pip:
    name: [oci-cli]
    state: latest
    executable: pip3
  ignore_errors: yes
  when: ('controller' in group_names)

- name: Install the 'paramiko' package
  become: true
  pip: 
    name: paramiko
    state: latest
    executable: pip3
  ignore_errors: yes