
'''
This script is updating the MySQL DB about the node status as well as launching ansible on the controller. 
Ansible on the controller is only doing the tasks that cannot be run on the host locally. 
Current roles: 
- Update Slurm topology
- Update Prometheus hosts 
- Fix LDAP (Hopefully can be removed once the problem is fixed)
- ... 

When nodes are created or deleted, an OCI function sends a message to an OCI queue. 
The OCI queue is parsed with the scan_queue function. Nodes are set in Starting or Terminating status. 

Nodes in the DB are checked for config file on port {{http_server_port}}. All the relevant details are pulled. 
If the node is in starting mode and the URL is available, it will be picked up by Ansible for configuration. 
If the node is in terminating state, it will be picked up by Ansible for unconfiguration 
Nodes unreachable for over 6 hours will be removed as well through Ansible. 
Nodes that have been terminated are kept in the DB for 72 hours before being cleaned up. 
TODO: How to warn users that nodes are unreachable and should be checked. 

After running Ansible, all hosts that were selected will be updated to avoid re-running the script. 
'''

import subprocess
import pymysql
import re
import sys
import json
version = sys.version_info

if version >= (3, 12):
    from datetime import datetime, timedelta, UTC
else:
    from datetime import datetime, timedelta

from concurrent.futures import ProcessPoolExecutor

import oci

retaining_period=timedelta(hours=72)
unreachable_timeout=timedelta(hours=6)
curl_timeout=3

# Get the current date and time with milliseconds
current_time = datetime.now(UTC) if version >= (3, 12) else datetime.utcnow()
current_time_str = current_time.strftime("%Y-%m-%d %H:%M:%S")

print(f"Started the nodes_update script at {current_time_str}")

# DB Connection Details
db_host="localhost"
db_user="clusterUser"
db_pw="Cluster1234!"
db_name="clusterDB"

# Nmap Scan Configuration
HTTP_SERVER_PORT = "{{http_server_port}}"

queue_ocid = "{{queue_ocid}}"
controller_name = "{{controller_hostname}}"
connection = pymysql.connect(host=db_host, user=db_user, password=db_pw, database=db_name)

# Initialize Queue Client
signer = oci.auth.signers.InstancePrincipalsSecurityTokenSigner()
cp_client = oci.queue.QueueAdminClient(config={}, signer=signer)
endpoint = cp_client.get_queue(queue_ocid).data.messages_endpoint
queue_client = oci.queue.QueueClient(config={}, signer=signer, service_endpoint=endpoint)

def fetch_content(url):
    try:
        # Use subprocess to call curl
        result = subprocess.Popen(['curl', '-s', '--max-time', str(curl_timeout) ,url], stdout=subprocess.PIPE, stderr=subprocess.PIPE)
        stdout, stderr = result.communicate()  # Wait for the command to complete
        if result.returncode != 0:
            return None
        return stdout.decode('utf-8')  # Return the fetched content as a string
    except Exception as e:
        print(f"Error fetching content from {url}: {e}")
        return None

def run_query(query,args=None,results_wanted=False):
    results = None
    try:
        if results_wanted:
            with connection.cursor(pymysql.cursors.DictCursor) as cursor:
                if args is None:
                    cursor.execute(query)
                else:
                    cursor.execute(query, args)
                results = cursor.fetchall()
        else:
            with connection.cursor() as cursor:
                if args is None:
                    cursor.execute(query)
                else:
                    cursor.execute(query, args)
                connection.commit()
    except Exception as e:
        print(f"Error: {e}")
    return results

def scan_queue():
    new_ips_to_add=[]
    new_hosts_to_remove=[]
    while True:
        messages_response = queue_client.get_messages(queue_ocid,limit=20,channel_filter=controller_name)
        if len(messages_response.data.messages) == 0:
            break
        messages = messages_response.data.messages
        for message in messages:
            try:
                content=eval(message.content)
                if content['status'] == "starting":
                    ip_address=content['ip_address']
                    if ip_address not in new_ips_to_add:
                        query = """
                        INSERT INTO nodes (ip_address, startedTime, status, controller_status, update_count, controller_name)
                        VALUES (%s, %s, 'starting', 'waiting_for_info', 0, %s)
                        ON DUPLICATE KEY UPDATE
                            startedTime = VALUES(startedTime),
                            status = 'starting',
                            controller_status = 'waiting_for_info';
                        """
                        run_query(query,args=(ip_address, current_time_str, controller_name))
                        new_ips_to_add.append(ip_address)
                        queue_client.delete_message(queue_ocid, message.receipt)
                        print("Message deleted for Starting IP:", ip_address)
                elif content['status'] == "terminating":
                    hostname=content['hostname']
                    if hostname not in new_hosts_to_remove:
                        query = """
                        UPDATE nodes
                        SET status = 'terminated',
                            controller_status = 'terminating',
                            terminatedTime = %s
                        WHERE hostname = %s ;
                        """
                        run_query(query,args=(current_time_str, hostname))
                        new_hosts_to_remove.append(hostname)
                        queue_client.delete_message(queue_ocid, message.receipt)
                        print("Message deleted for Hostname:", hostname)
            except Exception as e:
                print(f"Error evaluating message {message.content}: {e}")
    return new_ips_to_add,new_hosts_to_remove

# Run Ansible
def run_ansible():
    try:
        command = ". /config/venv/bin/activate; ansible-playbook /config/playbooks/manage_nodes.yml"
        result = subprocess.run(command, shell=True, stdout=subprocess.PIPE, stderr=subprocess.PIPE, universal_newlines=True)
        last_line=[s for s in result.stdout.split('\n') if s.startswith(controller_name)][-1]
        failure_count=int([s for s in last_line.split(' ') if s.startswith('failed')][-1].split('=')[1])+int([s for s in last_line.split(' ') if s.startswith('unreachable')][-1].split('=')[1])
        return result.stdout,failure_count
    except Exception as e:
        print(f"Error running ansible: {e}")
        sys.exit(1)


# Parse nodes and update records in DB
def check_nodes_status():
    if version >= (3, 12):
        time_threshold = current_time.now(UTC) - unreachable_timeout
    else:
        time_threshold = current_time.utcnow() - unreachable_timeout
    query = """
    SELECT * FROM nodes
    WHERE status NOT IN ('terminated', 'terminating');
    """
    results = run_query(query,results_wanted=True)
    unreachable_nodes=[]
    started_nodes=[]
    ip_addresses=[doc["ip_address"] for doc in results]
    urls=[f"http://{ip_address}:{HTTP_SERVER_PORT}/info" for ip_address in ip_addresses]
    with ProcessPoolExecutor(max_workers=10) as executor:
        content_results = list(executor.map(fetch_content, urls))
    result_dict = dict(zip(ip_addresses, content_results))
    for doc in results:
        status=doc["status"]
        ip_address=doc["ip_address"]
        content=result_dict[ip_address]
        url=f"http://{ip_address}:{HTTP_SERVER_PORT}/info"
        if content:
            try:
                json_data = json.loads(content)
                json_data["lastTimeReachable"]=current_time_str
                json_data["ip_address"]=ip_address
                if status=="starting":
                    json_data["controller_status"]="configuring"
                    json_data["status"]="running"
                    started_nodes.append(ip_address)
                if not 'FirstTimeReachable' in doc:
                    json_data.update({"FirstTimeReachable":current_time_str})
                if doc['FirstTimeReachable'] is None:
                    json_data.update({"FirstTimeReachable":current_time_str})
                columns = ", ".join(json_data.keys())
                placeholders = ", ".join(["%s"] * len(json_data))
                updates = ", ".join([f"{key} = VALUES({key})" for key in json_data.keys()])
                updates += ", update_count = update_count + 1"
                query = f"""
                INSERT INTO nodes ({columns}, update_count)
                VALUES ({placeholders}, 1)
                ON DUPLICATE KEY UPDATE {updates};
                """
                run_query(query,args=tuple(json_data.values()))
                print(f"Stored content for {url}")
            except json.JSONDecodeError as e:
                print(f"Failed to decode JSON from {url}: {e}")
        else:
            if status != "starting":
                hostname=doc["hostname"]
                if "lastTimeReachable" in doc:
                    last_time_reachable = datetime.strptime(doc["lastTimeReachable"], "%Y-%m-%d %H:%M:%S")
                    if last_time_reachable < time_threshold:
                        query = """
                        UPDATE nodes
                        SET controller_status = %s,
                            status = %s
                        WHERE id = %s;
                        """
                        run_query(query,args=(controller_status, status, doc["id"]))
                        unreachable_nodes.append(hostname)
                        print(f"Node {hostname} was not reachable for 6 hours")
                    else:
                        print(f"Node {hostname} was not reachable")
                else:
                    print("The doc did not contain a single lastTimeReachable entry")
                    print(doc)
            else:
                print(f"Node with {ip_address} is not ready yet. The webserver containing the node info is not available")
    return unreachable_nodes,started_nodes

def clean_old_terminated_nodes():
    if version >= (3, 12):
        time_threshold = current_time.now(UTC) - retaining_period
    else:
        time_threshold = current_time.utcnow() - retaining_period
    query = """
    SELECT * FROM nodes
    WHERE status IN ('terminated');
    """
    results = run_query(query,results_wanted=True)

    for doc in results:
        if "lastTimeReachable" in doc:
            last_time_reachable = datetime.strptime(doc["lastTimeReachable"], "%Y-%m-%d %H:%M:%S")
            if last_time_reachable < time_threshold:
                query = """
                DELETE FROM nodes
                WHERE id = %s;
                """
                run_query(query,args=(doc["id"],))
                print("This document with has been removed from the DB")
                print(doc)

def update_configuration_status(started_nodes,terminating_host_list,ansible_output):

    query = """
    SELECT * FROM nodes
    WHERE controller_status IN ('configuring');
    """
    results = run_query(query,results_wanted=True)
    for doc in results:
        ip_address=doc["ip_address"]
        if ip_address in started_nodes:
            query = """
            UPDATE nodes
            SET controller_status = 'configured'
            WHERE id = %s;
            """
            run_query(query,args=(doc["id"],))

    query = """
    SELECT * FROM nodes
    WHERE controller_status IN ('terminating');
    """
    results = run_query(query,results_wanted=True)
    for doc in results:
        hostname=doc["hostname"]
        if hostname in terminating_host_list:
            query = """
            UPDATE nodes
            SET controller_status = 'terminated'
            WHERE id = %s;
            """
            run_query(query,args=(doc["id"],))

def find_nodes_configuring(started_nodes,terminated_nodes):
    configuring_nodes=[]
    terminating_nodes=[]
    query = """
    SELECT * FROM nodes
    WHERE controller_status IN ('terminating', 'configuring');
    """
    results = run_query(query,results_wanted=True)
    for doc in results:
        if doc["controller_status"]=="terminating":
            hostname=doc["hostname"]
            if not hostname in terminated_nodes:
                terminating_nodes.append(hostname)
        else:
            ip_address=doc["ip_address"]
            if not ip_address in started_nodes:
                configuring_nodes.append(ip_address)
    return configuring_nodes,terminating_nodes

# Main function
if __name__ == "__main__":

    starting_ip_list,terminating_host_list = scan_queue()
    print(starting_ip_list,"starting_ips")
    print(terminating_host_list,"terminating_hosts")
    unreachable_nodes,started_nodes = check_nodes_status()
    clean_old_terminated_nodes()
    nodes_not_yet_configured,nodes_not_yet_terminated=find_nodes_configuring(started_nodes,terminating_host_list)
    print("Scan completed and data inserted/updated in DB.")
    print(terminating_host_list,"terminated_nodes")
    print(started_nodes,"started_nodes")
    print(nodes_not_yet_configured,"nodes_not_yet_configured")
    print(nodes_not_yet_terminated,"nodes_not_yet_terminated")

    if len(terminating_host_list) or len(started_nodes) or len(nodes_not_yet_configured) or len(nodes_not_yet_terminated):
        print("Adding/Removing nodes in Ansible")
        ansible_output,failure_count=run_ansible()
        if failure_count > 0:
            print(ansible_output)
        else:
            print("Ansible finished successfully")
            update_configuration_status(nodes_not_yet_configured,nodes_not_yet_terminated,ansible_output)

connection.close()

finish_time = datetime.now(UTC) if version >= (3, 12) else datetime.utcnow()
script_execution_time=finish_time-current_time
script_execution_time_str=str(script_execution_time.seconds)

print(f"Finished the nodes_update script that started at {current_time_str}, the script took {script_execution_time_str} sec")