[Unit]
Description=Critical Systemd Service monitor 
Wants=network-online.target
After=network-online.target

[Service]
User={{ cluster_admin_user }}
Group={{ cluster_admin_user }}
Type=simple
ExecStart={{venv_path}}/bin/python3 /usr/local/bin/critical_process_monitor.py

[Install]
WantedBy=multi-user.target
