[Unit]
Description=Critical Systemd Service monitor 
Wants=network-online.target
After=network-online.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
Type=simple
ExecStart=/usr/bin/env python3 /usr/local/bin/critical_process_monitor.py

[Install]
WantedBy=multi-user.target
