[Unit]
Description=Captures custom metrics for node exporter
Wants=network-online.target
After=network-online.target

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
Type=simple
ExecStart={{ ne_script_dir }}/custom_metrics.py

[Install]
WantedBy=multi-user.target
