[Unit]
Description=NVLink bandwidth tracker for all GPUs 
Wants=network-online.target
After=network-online.target nvidia-persistenced.service

[Service]
User={{ prometheus_user }}
Group={{ prometheus_user }}
Type=simple
ExecStart={{venv_path}}/bin/python3 /usr/local/bin/nvlink_counters_exporter.py
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target