[Unit]
Description=Metrics for detecting PCIe faults
Wants=network-online.target
After=network-online.target

[Service]
User={{ cluster_admin_user }}
Group={{ cluster_admin_user }}
Type=simple
ExecStart={{venv_path}}/bin/python3 /usr/local/bin/pcie_faults_exporter.py

[Install]
WantedBy=multi-user.target
