---
- name: check path
  set_fact:
    nvme_path_edited: "{% if nvme_path[-1] == '/' %}{{nvme_path[:-1]}}{% else%}{{nvme_path}}{% endif %}"

- name: Get the number of NVMe's
  set_fact:
    nvme_count: "{{ hostvars[inventory_hostname]['ansible_devices'] | select('match','nvme[0-9]n1') | list | length}}"

- name: Create a LVM?
  set_fact:
    one_lv: "{{( log_vol | bool ) and ( ( nvme_count | int ) > 1 )}}"

- name: Create a new primary partition
  parted:
    device: "/dev/{{item}}"
    number: 1
    state: present
    label: gpt
  with_items:
    - "{{ hostvars[inventory_hostname]['ansible_devices'] | select('match','nvme[0-9]n1') | list }}"

- name: create a filesystem
  filesystem:
    dev: "/dev/{{item}}p1"
    fstype: xfs
    opts: "-L locscratch{{item | replace('nvme','') | replace('n1','')}}"
  with_items:
    - "{{ hostvars[inventory_hostname]['ansible_devices'] | select('match','nvme[0-9]n1') | list }}"
  when: not ( one_lv | bool )

- name: Mount local volume
  mount:
    path: "{% if item | replace('nvme','') | replace('n1','') == '0' %}{{ nvme_path_edited}}{% else%}{{ nvme_path_edited}}{{item | replace('nvme','') | replace('n1','')}}{% endif %}"
    src: "LABEL=locscratch{{item | replace('nvme','') | replace('n1','')}}"
    fstype: xfs
    opts: defaults,noatime
    state: mounted
  with_items:
    - "{{ hostvars[inventory_hostname]['ansible_devices'] | select('match','nvme[0-9]n1') | list }}"
  when: not ( one_lv | bool )

- name: "set permissions on {{ nvme_path_edited }}"
  become: true
  file:
    path: "{% if item | replace('nvme','') | replace('n1','') == '0' %}{{ nvme_path_edited}}{% else%}{{ nvme_path_edited}}{{item | replace('nvme','') | replace('n1','')}}{% endif %}"
    state: directory
    owner: "{{ ansible_user }}"
    mode: 0775
    group: "{{privilege_group_name}}"
    recurse: no
  with_items:
    - "{{ hostvars[inventory_hostname]['ansible_devices'] | select('match','nvme[0-9]n1') | list }}"
  when: not ( one_lv | bool )

- name: Create volume group
  lvg:
    vg: "vg_nvmes"
    pvs: "{{['/dev/']|product(hostvars[inventory_hostname]['ansible_devices'] | select('match','nvme[0-9]n1') | list)|map('join', '') | join(',')}}"
  when: one_lv | bool

- name: Create Logical volume
  lvol:
    vg: "vg_nvmes"
    lv: "lv_nvmes"
    size: 100%FREE
    opts: "{% if redundancy | bool %}--type raid10{% else%}-i4{% endif %}"
  when: one_lv | bool

- name: Create file system
  filesystem:
    fstype: xfs
    dev: "/dev/vg_nvmes/lv_nvmes"
  when: one_lv | bool

- name: Mount local volume
  mount:
    path: "{{ nvme_path_edited}}"
    src: "/dev/vg_nvmes/lv_nvmes"
    fstype: xfs
    opts: defaults,noatime
    state: mounted
  when: one_lv | bool

- name: "set permissions on {{ nvme_path_edited }}"
  become: true
  file:
    path: "{{ nvme_path_edited}}"
    state: directory
    owner: "{{ ansible_user }}"
    mode: 0775
    group: "{{privilege_group_name}}"
    recurse: no
  when: one_lv | bool