- include_vars: el_vars.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution == 'OracleLinux'

- include_vars: centos_vars.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution == 'CentOS'

- include_vars: ubuntu_vars.yml
  when: ansible_distribution == 'Ubuntu'

- include: el7.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution == 'OracleLinux' and ansible_distribution_major_version == '7'

- include: el7.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution == 'CentOS' and ansible_distribution_major_version == '7'

- include: el8.yml
  when: ansible_os_family == 'RedHat' and ansible_distribution == 'OracleLinux' and ansible_distribution_major_version == '8'

- include: ubuntu.yml
  when: ansible_distribution == 'Ubuntu'