slurm_conf_path: '/etc/slurm'
slurm_log_path: '/var/log/slurm'
slurm_exec: '/usr'
slurm_conf_file: slurm.conf.j2
slurmdbd_conf_file: slurmdbd.conf.j2

cgroup_conf_file: cgroup.conf

munge_packages:
  - munge
  - munge-libs
  - munge-devel

slurm_all_packages:
  - "slurm-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-devel-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-contribs-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-perlapi-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-torque-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-openlava-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-slurmctld-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-slurmdbd-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-pam_slurm-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-libpmi-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "slurm-slurmd-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"

slurm_common_packages:
  - "{{ download_path }}/slurm_rpms/slurm-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-devel-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-contribs-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-perlapi-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-torque-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-openlava-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"

slurm_server_packages:
  - "{{ download_path }}/slurm_rpms/slurm-slurmctld-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-slurmdbd-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"

slurm_compute_packages:
  - "{{ download_path }}/slurm_rpms/slurm-pam_slurm-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-libpmi-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-slurmd-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"

slurm_backup_server_packages:
  - "{{ download_path }}/slurm_rpms/slurm-slurmctld-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-pam_slurm-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-libpmi-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-slurmd-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"

slurm_login_packages:
  - "{{ download_path }}/slurm_rpms/slurm-pam_slurm-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-libpmi-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/slurm-slurmd-{{slurm_version}}.el{{ansible_distribution_major_version}}.x86_64.rpm"


pmix_download_packages:
  - "pmix-3.2.4-1.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "pmix-devel-3.2.4-1.el{{ansible_distribution_major_version}}.x86_64.rpm"

pmix_packages:
  - "{{ download_path }}/slurm_rpms/pmix-3.2.4-1.el{{ansible_distribution_major_version}}.x86_64.rpm"
  - "{{ download_path }}/slurm_rpms/pmix-devel-3.2.4-1.el{{ansible_distribution_major_version}}.x86_64.rpm"
