slurm_conf_path: '/etc/slurm'
slurm_log_path: '/var/log/slurm'
slurm_exec: '/usr/local'
slurm_conf_file: slurm.conf.j2
slurmdbd_conf_file: slurmdbd.conf.j2

cgroup_conf_file: cgroup.conf

munge_packages:
  - munge
  - libmunge2
  - libmunge-dev
  - libpmix-dev

slurm_common_packages: []

slurm_server_packages: []

slurm_compute_packages:
  - libpmi0

slurm_backup_server_packages:
  - libpmi0

slurm_login_packages:
  - libpmi0