- hosts: compute, slurm_backup
  become: true
  vars:
    destroy: true
    initial: false
  vars_files:
    - "/opt/oci-hpc/conf/queues.conf"
  tasks:
    - include_role:
        name: slurm
      when: slurm|default(false)|bool
- hosts: bastion, slurm_backup, login
  become: true
  vars:
    destroy: true
    initial: false
  roles:
    - etc-hosts