- hosts: bastion, compute, slurm_backup, login
  become: true
  gather_facts: true
  vars:
    destroy: false
    slurm_conf_path: "/etc/slurm"
    unreachable_nodes: "{{ lookup('env', 'unreachable_node_list').split(',') | list}}"
  vars_files:
    - "/opt/oci-hpc/conf/queues.conf"
  tasks:
    - include_role:
        name: destroy_unreachable