[Unit]
Description=Python Node Updater

[Service]
User={{ ansible_user }}
Group={{ ansible_user }}
ExecStart=/config/venv/bin/python3 /config/mgmt/manage.py services all
StandardOutput=append:/config/logs/mgmt.log
StandardError=append:/config/logs/mgmt.log
TimeoutStartSec=300